<a routerLink="/maestro/catalogo/productos"> <i class="far fa-list-alt"></i> Ver Productos</a>
<br>
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">CATALOGO</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Catalogo de bienes y servicios </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" routerLink="/maestro/catalogo/bienes/list" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">
          <i class="far fa-list-alt"></i> Ver Bienes
        </button>
        <button type="button" routerLink="/maestro/catalogo/servicios" class="btn btn-outline-light btn-lg px-4">Ver Servicios</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<br>



