<div class="row align-items-md-stretch">
  <!-- START LIST CUENTA-->
  <div class="col-md-12">
    <div class=" p-5 rounded-3  bg-white ">
      <!-- START NEW CUENTA-->
      <form [formGroup]="cuentaForm" (ngSubmit)="guardar()">
        <div class="formulario input-group mb-3">
          <input type="number" formControlName="num" class="form-space form-control" placeholder="N° Cuenta">
          <input type="number" formControlName="cci" class="form-space form-control" placeholder="CCI">
          <input type="text" formControlName="moneda" class="form-space form-control" placeholder="Moneda">
          <select name="banco" id="banco" formControlName="banco" class="form-space form-control">
            <option [ngValue]="item"  *ngFor="let item of bancos">{{item.nombre}}</option>
          </select>

          <button mat-button type="submit" color="primary" [disabled]="cuentaForm.invalid">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
      </form>
      <!-- LIST DEPA-->
      <div class="container">
        <table class="table table-sm  table-hover">
          <thead>
            <tr>
              <th scope="col" class="check" >
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll">
                  <label for="selectAll"></label>
                  </span>
              </th>
              <th class="titulo text-secondary"  scope="col">N° Cuenta</th>
              <th class="titulo text-secondary"  scope="col">CCI</th>
              <th class="titulo text-secondary"  scope="col">Moneda</th>
              <th class="titulo text-secondary"  scope="col">Banco</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cuentas">
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                  <label for="checkbox1"></label>
                  </span> 
              </td>
              <td>{{item.num}}</td>
              <td>{{item.cci}}</td>
              <td>{{item.moneda}}</td>
              <td>{{item.banco.nombre}}</td>
              <td align="end" >
                <a (click)="editar(item)"><i class="signo fas fa-edit"></i></a>  
                <a (click)="eliminar(item)"><i class="signo fas fa-trash"></i></a>  
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
   <!-- END LIST DEPA-->
</div>
<router-outlet></router-outlet>