<div class="row align-items-md-stretch">
    <!-- START LIST TIPO-->
    <div class="col col-md-12 col-lg-6 bg-all">
        <div class="p-5 rounded-3  bg-white shadow-sm">
            <!-- NEW TIPO-->
            <div class="container container-fluid">
                <form (ngSubmit)="onCreateTipo()" [formGroup]="tipoForm">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="nombre">
                            <button mat-button type="submit" color="primary" [disabled]="tipoForm.invalid">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- LIST TIPO-->
            <div class="container">
                <table class="table table-sm  table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="check">
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th scope="col" class="title text-secondary" (click)="setOrderTipo('nombre')">Tipo de
                                Servicios<i class="fas fa-sort" style="margin-left: 20px;" (click)="sortTipo()"></i>
                            </th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tipos">
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>{{item.nombre}}</td>
                            <td align="end">
                                <a (click)="backList()"><i class="signo fa fa-eye"></i></a>
                                <a (click)="onUpdateTipo(item)"><i class="signo fas fa-edit"></i></a>
                                <a (click)="onDeleteTipo(item.id)"><i class="signo fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- PAGINATION FAM-->
            <nav align="center" aria-label="...">
                <ul class="pagination">
                    <li class="page-item" style="margin-right: 10px;">
                        <i class="pag fas fa-angle-double-left fa-1x" (click)="rewindTipo()"></i>
                    </li>
                    <li class="page-item">
                        <span *ngFor="let p of totalPagesTipo; let i = index">
                            <a style="cursor: pointer;" (click)="setPageTipo(i)"
                                [ngClass]="{'text-primary': i === page }">{{ i+1
                                }}&nbsp;&nbsp;&nbsp;</a>
                        </span>
                    </li>
                    <li class="page-item">
                        <i class="pag fas fa-angle-double-right fa-1x" (click)="forwardTipo()"></i>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LIST TIPO-->
    <!-- START LIST SERVICIO BY ID TIPO-->
    <div class="col col-md-12 col-lg-6 bg-all">
        <div class="p-5 rounded-3  bg-white shadow-sm ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>