.cardepa{
    margin-left: 25%;
    margin-right: 25%;
}

/* FORM*/
input:focus {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border-color: rgb(223, 221, 221)
}
input{
    border-color: rgb(223, 221, 221)
}

/*TABLA*/
.signo{
    margin-left: 5%;
    margin-right: 5%;
    color: grey;
}
.nombre{
    padding-left: 30px;
    font-weight: 500;
}
table.table tr td{
    color: grey;
    font-weight: 300;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 12px;
    vertical-align: middle;
    text-shadow: white;  
}
.pag{
    margin-left: 5%;
    margin-right: 5%;
    color: grey;
}
.pagination {
    float: right;
    margin: 5px 50px 40px 6px;
}


@media only screen and (max-width:1000px){

    .cardepa{
        margin-left:unset;
        margin-right: unset;
    }  
} 