<!-- DETALLE DE DEPA SON SUS AREAS CORRESPONDIENTES  {{areas | json}}-->
<div class="row align-items-md-stretch">
  <!-- START LIST AREA-->
  <div class="col-md-6 cardepa ">
    <div class=" p-5 rounded-3  bg-white ">
      <!-- NEW AREA-->
      <div class="container container-fluid">
        <form (ngSubmit)="createArea()" [formGroup]="areaForm">
          <div class="form-group">
            <div class="input-group mb-3">
              <input type="text" class="name form-control" formControlName="nombre">
              <button mat-button type="submit" color="primary" [disabled]="areaForm.invalid">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      
      <!-- LIST AREA-->
      <div class="container">
        <table class="table table-sm  table-hover">
          <thead>
            <tr>
              <th scope="col" class="check" >
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll">
                  <label for="selectAll"></label>
                  </span>
              </th>
              <th class="nombre text-secondary"  scope="col" >Areas </th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let area of areas">
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                  <label for="checkbox1"></label>
                  </span> 
              </td>
              <td>{{area.nombre}}</td>
              <td align="end" >
                <a  (click)="updateArea(area)"><i class="signo fas fa-edit"></i></a>  
                <a (click)="deleteArea(area.id)"><i class="signo fas fa-trash"></i></a>  
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
   <!-- END LIST AREA-->
<!-- {{departamentos | json}} -->
<router-outlet></router-outlet>

