<div class="row align-items-md-stretch">
  <!-- START LIST FAM-->
  <div class="col col-md-12 col-lg-6 bg-all">
    <div class="p-5 rounded-3  bg-white shadow-sm">
      <!-- NEW FAM-->
      <div class="container container-fluid">
        <form (ngSubmit)="onCreateFam()" [formGroup]="famForm">
          <div class="form-group">
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="nombre">
              <button mat-button type="submit" color="primary" [disabled]="famForm.invalid">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- LIST FAM-->
      <div class="container">
        <table class="table table-sm  table-hover">
          <thead>
            <tr>
              <th scope="col" class="check">
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll">
                  <label for="selectAll"></label>
                </span>
              </th>
              <th scope="col" class="title text-secondary" (click)="setOrderFam('nombre')">Familias<i
                  class="fas fa-sort" style="margin-left: 20px;" (click)="sortFam()"></i></th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of familias">
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                  <label for="checkbox1"></label>
                </span>
              </td>
              <td>{{item.nombre}}</td>
              <td align="end">
                <a (click)="viewSubfamilias(item.id)"><i class="signo fa fa-eye"></i></a>
                <a (click)="onUpdateFam(item)"><i class="signo fas fa-edit"></i></a>
                <a (click)="onDeleteFam(item.id)"><i class="signo fas fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- PAGINATION FAM-->
      <nav align="center" aria-label="...">
        <ul class="pagination">
          <li class="page-item" style="margin-right: 10px;">
            <i class="pag fas fa-angle-double-left fa-1x" (click)="rewindFam()"></i>
          </li>
          <li class="page-item">
            <span *ngFor="let p of totalPagesFam; let i = index">
              <a style="cursor: pointer;" (click)="setPageFam(i)" [ngClass]="{'text-primary': i === page }">{{ i+1
                }}&nbsp;&nbsp;&nbsp;</a>
            </span>
          </li>
          <li class="page-item">
            <i class="pag fas fa-angle-double-right fa-1x" (click)="forwardFam()"></i>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END LIST FAM-->

  <!-- START LIST SUB-->
  <div class="col col-md-12 col-lg-6 bg-all">
    <div class="p-5 rounded-3  bg-white shadow-sm ">
      <!-- NEW SUB-->
      <div class="container container-fluid">
        <form (ngSubmit)="onCreateSub()" [formGroup]="subForm">
          <div class="form-group">
            <div class="input-group mb-3">
              <input type="text" class="name form-control" formControlName="nombre">
              <button mat-button type="submit" color="primary" [disabled]="subForm.invalid">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- LIST SUB-->
      <div class="container">
        <table class="table table-sm  table-hover">
          <thead>
            <tr>
              <th scope="col" class="check">
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll">
                  <label for="selectAll"></label>
                </span>
              </th>
              <th class="title text-secondary" scope="col" (click)="setOrderSub('nombre')">Subfamilias <i
                  class="fas fa-sort" style="margin-left: 20px;" (click)="sortSub()"></i></th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of subfamilias">
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                  <label for="checkbox1"></label>
                </span>
              </td>
              <td>{{item.nombre}}</td>
              <td align="end">
                <a (click)="onUpdateSub(item)"><i class="signo fas fa-edit"></i></a>
                <a (click)="onDeleteSub(item.id)"><i class="signo fas fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- PAGINATION SUB-->
      <nav align="center" aria-label="...">
        <ul class="pagination">
          <li class="page-item" style="margin-right: 10px;">
            <i class="pag fas fa-angle-double-left fa-1x" (click)="rewindSub()"></i>
          </li>
          <li class="page-item">
            <span *ngFor="let p of totalPagesSub; let i = index">
              <a style="cursor: pointer;" (click)="setPageSub(i)" [ngClass]="{'text-primary': i === page }">{{ i+1
                }}&nbsp;&nbsp;&nbsp;</a>
            </span>
          </li>
          <li class="page-item">
            <i class="pag fas fa-angle-double-right fa-1x" (click)="forwardSub()"></i>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END LIST SUB-->
</div>

<app-marca-list></app-marca-list>
<router-outlet></router-outlet>