<br>
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">BANCO</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Cuentas de la empresa  </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" routerLink="/maestro/banco/cuentas/list" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">
          <i class="far fa-list-alt"></i> Ver Cuentas
        </button>
        <button type="button"  class="btn btn-outline-light btn-lg px-4">Ver Bancos</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<br>

