<div class="card">
    <div class="card-header">
        <strong><p> Busquedas</p></strong>
    </div>
    <div class="card-body">
        <form>
            <!-- Codigo -->
            <div class="form-group">
                <label for="codigo"><b>Codigo:</b></label>
                <div class="input-group">
                    <button class="btn btn-outline-danger" (click)="clearCodigo()"
                    [disabled]="!busqueda.codigo">Vaciar</button>
                    <input type="text" class="form-control" name="codigo" id="codigo"
                    [(ngModel)]="busqueda.codigo">
                    <button class="btn btn-outline-success" (click)="listaProductos()"
                    [disabled]="!busqueda.codigo">Filtrar</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <!-- Familia -->
                    <div class="form-group">
                        <label for="familiaElegida"><b>Familia:</b></label>
                        <select class="form-control" name="familiaElegida" id="familiaElegida" [(ngModel)]="familiaElegida" (change)="onChangeFamilia()">
                            <option [ngValue]="null" selected>Elige una Familia</option>
                            <option [ngValue]="familia" *ngFor="let familia of familias">{{familia.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <!-- Sub-Familia -->
                    <div class="form-group">
                        <label for="subfamilia"><b>Subfamilia:</b></label>
                        <select *ngIf="!familiaElegida" class="form-control" name="subfamilia" id="subfamilia" disabled>
                            <option value="''" selected>Elige una Subfamilia</option>
                        </select>
                        <select *ngIf="familiaElegida" class="form-control" name="subfamilia" id="subfamilia"
                            [(ngModel)]="busqueda.subfamilia" (change)="listaProductos()">
                            <option [ngValue]="''" selected>Elige una Subfamilia</option>
                            <option [ngValue]="subfamilia.nombre" *ngFor="let subfamilia of familiaElegida.subfamilias">
                                {{subfamilia.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
            </div> 
            <br>
            <!-- Descripcion -->
            <div class="form-group">
                <label for="descripcion"><b>Descripcion:</b></label>
                <div class="input-group">
                    <button class="btn btn-outline-danger" (click)="clearDescripcion()"
                    [disabled]="!busqueda.descripcion">Vaciar</button>
                    <input type="text" class="form-control" name="descripcion" id="descripcion"
                    [(ngModel)]="busqueda.descripcion">
                    <button class="btn btn-outline-success" (click)="listaProductos()"
                    [disabled]="!busqueda.descripcion">Filtrar</button>
                </div>
            </div>
            <br>
            <!-- Marca -->
            <div class="form-group">
                <label for="marca"><b>Marca:</b></label>
                <div class="input-group">
                    <button class="btn btn-outline-danger" (click)="clearMarca()"
                    [disabled]="!busqueda.marca">Vaciar</button>
                    <input type="text" class="form-control" name="marca" id="marca"
                    [(ngModel)]="busqueda.marca">
                    <button class="btn btn-outline-success" (click)="listaProductos()"
                    [disabled]="!busqueda.marca">Filtrar</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <!-- Color -->
                    <div class="form-group">
                        <label for="color"><b>Color:</b></label>
                        <select class="form-control" name="color" id="color"
                        [(ngModel)]="busqueda.color" (change)="listaProductos()">
                            <option value="" selected desabled>Elige Color</option>
                            <option value="incolor">Incolor</option>
                            <option value="multicolor">Multicolor</option>
                            <option value="negro">Negro</option>
                            <option value="blanco">Blanco</option>
                            <option value="gris">Gris</option>
                            <option value="azul">Azul</option>
                            <option value="verde">Verde</option>
                            <option value="rojo">Rojo</option>
                            <option value="amarillo">Amarillo</option>
                            <option value="naranja">Naranja</option>
                            <option value="rosa">Rasa</option>
                            <option value="morado">Morado</option>
                            <option value="marron">Marrón</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <!-- Medida -->
                    <div class="form-group">
                        <label for="medida"><b>Medida:</b></label>
                        <select class="form-control" name="medida" id="medida"
                        [(ngModel)]="busqueda.medida" (change)="listaProductos()">
                            <option value="" selected>Elige Unidad de Medida</option>
                            <!-- Longitud -->
                            <option value="kilometro">km</option>
                            <option value="metro">m</option>
                            <option value="centimetro">cm</option>
                            <option value="milimetro">mm</option>
                            <!-- Sistema Ingles Longitud -->
                            <option value="pulgada">pulgadas</option>
                            <option value="pie">pies</option>
                            <!-- Masa -->
                            <option value="kilogramo">kg</option>
                            <option value="gramo">g</option>
                            <option value="miligramo">ml</option>
                            <option value="tonelada">t</option>
                            <!-- Sistema Ingles Masa -->
                            <option value="onza">onza</option>
                            <option value="libra">libra</option>
                            <!-- Capacidad -->
                            <option value="kilolitro">kl</option>
                            <option value="litro">l</option>
                            <option value="mililitro">ml</option>
                            <!-- Superficie -->
                            <option value="metroCuadrado">m2</option>
                            <!-- Volumen -->
                            <option value="metroCubico">m3</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <!-- Precio DESDE->HASTA-->   
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="precioDesde"><b>Precio Desde:</b></label>
                        <div class="input-group">
                            <button class="btn btn-outline-danger" (click)="clearPrecioDesde()"
                            [disabled]="!busqueda.precioDesde">Vaciar</button>
                            <input type="number" class="form-control" name="precioDesde" id="precioDesde"
                            [(ngModel)]="busqueda.precioDesde">
                            <button class="btn btn-outline-success" (click)="listaProductos()"
                            [disabled]="!busqueda.precioDesde">Filtrar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="precioHasta"><b>Precio Hasta:</b></label>
                        <div class="input-group">
                                <button class="btn btn-outline-danger" (click)="clearPrecioHasta()"
                                [disabled]="!busqueda.precioHasta">Vaciar</button>
                                <input type="number" class="form-control" name="precioHasta" id="precioHasta"
                                [(ngModel)]="busqueda.precioHasta">
                                <button class="btn btn-outline-success" (click)="listaProductos()"
                                [disabled]="!busqueda.precioHasta">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>      
            <!-- Estado -->
            <div>
                <label for="estado"><b>Estado:</b></label>
                <div class="form-control" align="center">
                    <label class="radio-inline">
                        <input type="radio" name="estado" id="estado" checked
                        [value]="''" [(ngModel)]="busqueda.estado" (change)="listaProductos()"> Todos
                    </label>
                    &nbsp;
                    <label class="radio-inline">
                        <input type="radio" name="estado" id="estado"
                        [value]="true" [(ngModel)]="busqueda.estado" (change)="listaProductos()"> Activo
                    </label>
                    &nbsp;
                    <label class="radio-inline">
                        <input type="radio" name="estado" id="estado"
                        [value]="false" [(ngModel)]="busqueda.estado" (change)="listaProductos()"> Desactivo
                    </label>
                    &nbsp;
                </div>
            </div>
            <br>
            <!-- LIMPIAR -->
            <div class="col-4">
                <label for="reset"><b>Reset:</b></label>
                <button class="btn btn-outline-danger form-control" (click)="clear()">Borrar Filtros</button>
            </div>
        </form>
    </div>
</div>