<div class="container-fluid rounded-3 bg-white border-0 shadow-sm ">
    <div class="card-body">
        <!-- START UPDATE PROVEEDORES-->
        <form>
            <!-- [formGroup]="proveedorForm"  -->
            <!-- -----------------------  SUBTITLE------------------- -->
            <div class="card-header bg-transparent" style="height: 40px;">
                <h4 class="header-title text-secondary titulo "> REGISTRO - {{proveedor.codigo}} </h4>
            </div>
            <!-- -----------------------FORM BASIC TERCERO------------------- -->
            <div class="row g-4">
                <div class="col-md">
                    <div class="campo-container">
                        <!-- RUC -->
                        <mat-form-field appearance="outline">
                            <mat-label> RUC </mat-label>
                            <input matInput type="number" readonly id="ruc" name="ruc" [(ngModel)]="proveedor.ruc">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md">
                    <div class="campo-container">
                        <!-- RAZON SOCIAL -->
                        <mat-form-field appearance="outline">
                            <mat-label> Razón Social </mat-label>
                            <input matInput type="text" readonly id="razonSocial" name="razonSocial" [(ngModel)]="proveedor.razonSocial">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md">
                    <div class="campo-container">
                        <!-- RUBRO DE ACTIVIDAD -->
                        <mat-form-field appearance="outline">
                            <mat-label> Rubro de Actividad </mat-label>
                            <input matInput type="text" readonly id="rubroActividad" name="rubroActividad" [(ngModel)]="proveedor.rubroActividad">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md">
                    <div class="campo-container bo">
                        <!-- FECHA DE INICIO -->
                        <mat-form-field appearance="outline">
                            <mat-label> Fecha de Inicio </mat-label>
                            <input matInput type="date" readonly id="fechaInicio" name="fechaInicio" [(ngModel)]="proveedor.fechaInicio">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- ---------------START-UBICACION--------------- -->
            <div class="grid-linea">
                <div>
                    <hr class="linea1" width="1px" noshade="noshade">
                </div>
                <div class="icon">
                    <mat-icon>location_on</mat-icon>
                </div>
                <div>
                    <hr class="linea2" width="1px" noshade="noshade">
                </div>
            </div>

            <div *ngFor="let item of direccion; let in=index">

                <div class="dir-container">
                    <!-- DIRECCION-->
                    <mat-form-field appearance="outline" class="domicilio">
                        <mat-label> Direccion </mat-label>
                        <input matInput type="text" readonly id="domicilio{{in}}" name="domicilio{{in}}" [(ngModel)]="direccion[in].domicilio">
                    </mat-form-field>
                </div>
                <div class="grid-ubi">
                    <div class="campo-container ri-dir">
                        <!-- PAIS -->
                        <mat-form-field appearance="outline">
                            <mat-label> Pais </mat-label>
                            <input matInput type="text" readonly id="pais{{in}}" name="pais{{in}}" [(ngModel)]="direccion[in].pais">
                        </mat-form-field>
                    </div>
                    <div class="campo-container ri-dir le-dir">
                        <!-- DEPARTAMENTO -->
                        <mat-form-field appearance="outline">
                            <mat-label> Departamento</mat-label>
                            <input matInput type="text" readonly id="departamento{{in}}" name="departamento{{in}}" [(ngModel)]="direccion[in].departamento">
                        </mat-form-field>
                    </div>
                    <div class="campo-container ri-dir le-dir">
                        <!-- PROVINCIA -->
                        <mat-form-field appearance="outline">
                            <mat-label> Provincia</mat-label>
                            <input matInput type="text" readonly id="provincia{{in}}" name="provincia{{in}}" [(ngModel)]="direccion[in].provincia">
                        </mat-form-field>
                    </div>
                    <div class="campo-container ri-dir le-dir">
                        <!-- DISTRITO -->
                        <mat-form-field appearance="outline">
                            <mat-label> Distrito</mat-label>
                            <input matInput type="text" readonly id="distrito{{in}}" name="distrito{{in}}" [(ngModel)]="direccion[in].distrito">

                        </mat-form-field>
                    </div>
                    <div class="campo-container le-dir">
                        <!-- UBIGEO -->
                        <mat-form-field appearance="outline">
                            <mat-label>Ubigeo</mat-label>
                            <input matInput type="text" readonly id="ubigeo{{in}}" name="ubigeo{{in}}" [(ngModel)]="direccion[in].ubigeo">
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <!-- ---------------END-UBICACION--------------- -->
            <!-- ---------------START-CONTACTO--------------- -->
            <div class="grid-linea">
                <div>
                    <hr class="linea1" width="1px" noshade="noshade">
                </div>
                <div class="icon">
                    <mat-icon>perm_contact_calendar</mat-icon>
                </div>
                <div>
                    <hr class="linea2" width="1px" noshade="noshade">
                </div>
            </div>

            <div *ngFor="let item of contacto; let in=index">

                <div class="grid-con1">
                    <div class="grid-con2">
                        <div class="campo-container ri-con ri-con2 ">
                            <!-- NOMBRE -->
                            <mat-form-field appearance="outline">
                                <mat-label> Nombre</mat-label>
                                <input matInput readonly id="nombre{{in}}" name="nombre{{in}}" [(ngModel)]="contacto[in].nombre">
                            </mat-form-field>
                        </div>
                        <div class="campo-container le-con ri-con le-con2">
                            <!-- CARGO -->
                            <mat-form-field appearance="outline">
                                <mat-label> Cargo</mat-label>
                                <input matInput readonly id="cargo{{in}}" name="cargo{{in}}" [(ngModel)]="contacto[in].cargo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="grid-con2">
                        <div class="campo-container ri-con le-con ri-con2 ">
                            <!-- CORREO-->
                            <mat-form-field appearance="outline">
                                <mat-label> Correo</mat-label>
                                <input matInput readonly id="correo{{in}}" name="correo{{in}}" [(ngModel)]="contacto[in].correo">
                            </mat-form-field>
                        </div>
                        <div class="campo-container le-con le-con2 ">
                            <!-- TELEFONO -->
                            <mat-form-field appearance="outline">
                                <mat-label> Telefono</mat-label>
                                <input matInput readonly id="telefono{{in}}" name="telefono{{in}}" [(ngModel)]="contacto[in].telefono">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ---------------END-CONTACTO--------------- -->
            <!-- ---------------START-CUENTA--------------- -->
            <div class="grid-linea">
                <div>
                    <hr class="linea1" width="1px" noshade="noshade">
                </div>
                <div class="icon">
                    <mat-icon>savings</mat-icon>
                </div>
                <div>
                    <hr class="linea2" width="1px" noshade="noshade">
                </div>
            </div>

            <div *ngFor="let item of cuenta; let in=index">

                <div class="grid-cue1">
                    <div class="grid-cue2">
                        <div class="campo-container ri-con ri-con2">
                            <!-- Entidad-->
                            <mat-form-field appearance="outline">
                                <mat-label> Entidad</mat-label>
                                <input matInput readonly id="entidad{{in}}" name="entidad{{in}}" [(ngModel)]="cuenta[in].entidad">
                            </mat-form-field>
                        </div>
                        <div class="campo-container le-con ri-con le-con2">
                            <!-- TIPO DE CUENTA -->
                            <mat-form-field appearance="outline">
                                <mat-label> Tipo de Cuenta</mat-label>
                                <input matInput readonly id="tipoCuenta{{in}}" name="tipoCuenta{{in}}" [(ngModel)]="cuenta[in].tipoCuenta">

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="grid-cue2">
                        <div class="campo-container ri-con le-con ri-con2 ">
                            <!-- N° CUENTA -->
                            <mat-form-field appearance="outline">
                                <mat-label> N° Cuenta</mat-label>
                                <input matInput type="number" readonly id="num{{in}}" name="num{{in}}" [(ngModel)]="cuenta[in].num">
                            </mat-form-field>
                        </div>
                        <div class="campo-container le-con le-con2 ri-cue">
                            <!-- N° CCI -->
                            <mat-form-field appearance="outline">
                                <mat-label> CCI</mat-label>
                                <input matInput type="number" readonly id="cci{{in}}" name="cci{{in}}" [(ngModel)]="cuenta[in].cci">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="campo-container le-cue ">
                        <!--Moneda -->
                        <mat-form-field appearance="outline">
                            <mat-label> Moneda</mat-label>
                            <input matInput type="text" readonly id="moneda{{in}}" name="moneda{{in}}" [(ngModel)]="cuenta[in].moneda">
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <!-- ---------------END-CUENTA--------------- -->

            <div class="campo-container com">
                <!-- COMENTARIO-->
                <mat-form-field appearance="outline">
                    <mat-label>Comentario
                        <mat-icon>sentiment_very_satisfied</mat-icon>
                    </mat-label>
                    <textarea matInput readonly id="comentario" name="comentario" [(ngModel)]="proveedor.comentario"></textarea>
                </mat-form-field>
            </div>
        </form>
        <!-- end form -->
    </div>
    <!-- end card-body -->
</div>

<!-- end container -->

<router-outlet></router-outlet>