<!-- NEW DEPA-->
<div class="container container-fluid">
    <form > <!-- (ngSubmit)="createDep()" [formGroup]="depForm" -->
      <div class="form-group" >
        
          <input type="text"  class="name form-control"  formControlName="nombre">
          <button mat-button type="submit" color="primary"><!-- [disabled]="depForm.invalid" -->
            <i class="fas fa-pencil-alt"></i>
          </button>
       
      </div>
    </form>
  </div>
  
  <!-- LIST DEPA-->
  <div class="container">
    <table class="table table-sm  table-hover">
      <thead>
        <tr>
          <th scope="col" class="check" >
            <span class="custom-checkbox">
              <input type="checkbox" id="selectAll">
              <label for="selectAll"></label>
              </span>
          </th>
          <th class="nombre text-secondary"  scope="col">Departamentos<i class="fas fa-sort" style="margin-left: 20px;"></i></th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let dep of departamentos">
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox1" name="options[]" value="1">
              <label for="checkbox1"></label>
              </span> 
          </td>
          <td>{{dep.nombre}}</td>
          <td align="end" >
            <a (click)="viewAreas(dep.id)"><i class="signo fa fa-eye"></i></a>  
            <a (click)="updateDep(dep)"><i class="signo fas fa-edit"></i></a>  
            <a (click)="deleteDep(dep.id)"><i class="signo fas fa-trash"></i></a>  
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <!-- PAGINATION DEPA-->
  <!-- <nav align="center" aria-label="...">
    <ul class="pagination">
      <li class="page-item" style="margin-right: 10px;">
        <i class="pag fas fa-angle-double-left fa-1x" (click)="rewindDep()"></i>
      </li>
      <li class="page-item"> 
        <span *ngFor="let p of totalPagesDep; let i = index">
          <a style="cursor: pointer;" (click)="setPageDep(i)" [ngClass]="{'text-primary': i === page }">{{ i+1 }}&nbsp;&nbsp;&nbsp;</a>
        </span>
      </li>
      <li class="page-item">
        <i class="pag fas fa-angle-double-right fa-1x" (click)="forwardDep()"></i>
      </li>
    </ul>
  </nav> -->