.titulo{
    padding-top: 5px;
    font-weight: 500;
    font-size: 15px;
   }
   
   .campo-container{
     width: 100%;
     height: 55px;
     margin-top: 5px;
   }
   
   .campo-container > * {
     width: 100%;
     height: 55px;
     margin-top: 5px;
   }
   
   .grid-linea {
     display: grid;
     grid-template-columns: 45% 10% 45%;
     height: 15px;
     margin-top: 10px;
     margin-bottom: 10px;
   }
   
   .linea1{
     background-color: gray;
     width: 90%;
     margin-left: 10%;
   }
   
   .linea2{
     background-color: gray;
     width: 90%;
     margin-right: 10%;
   }
   
   .icon mat-icon{
     color:#707583;
     padding-top: 5px;
     margin-left: 40%;
     margin-right: 40%;
   }
   
   /* ---------------DIRECCION--------------- */
   .dir-container{
     width: 96%;
     height: 55px;
     margin-top: 5px;
   }
   
   .dir-container > * {
     width: 96%;
     height: 55px;
     margin-top: 5px;
   }
   
   .domicilio{
     text-align: center;
   }
   
   .grid-dir {
     display: grid;
     grid-template-columns: 92% 8%;
     grid-template-rows: 60px;
   }
   
   .grid-ubi {
     display: grid;
     grid-template-columns: 20% 20% 20% 20% 20%;
   }
   
   .le-dir{
     padding-left: 10px;
   }
   
   .ri-dir{
     padding-right: 10px;
   }
   /* Arriba | Derecha | Abajo | Izquierda */
   .btnOption{
   padding: 20px 5px 0px 5px;
   }
   
   /* ---------------CUENTA-CONTACTO--------------- */
   .grid-cue {
     display: grid;
     grid-template-columns: 92% 8%;
   }
   .grid-op {
     display: grid;
     grid-template-columns: 60% 40%;
     grid-template-rows: 40px 40px;
     padding-top: 15px;
   }
   
   .ri-com{
     padding-right: 10px;
   }
   
   .action{
     margin-top: 35px;
     margin-bottom: 5px;
   }
   
   
   @media only screen and (max-width:900px){
     .campo-container{
       width: 100%;
       height: 30px;
     }
     
     .campo-container > * {
       width: 100%;
       height: 30px;
     }
         
     .bo{
       margin-bottom: 25px;
     }
   
     .ri-dir{
       padding-right: 5px;
     }
     .le-dir{
       padding-left: 5px;
     }
   
     /* Arriba | Derecha | Abajo | Izquierda */
     .btnOption{
       padding-top: 20px;
     }
   
     .grid-op {
       grid-template-columns:none;
       grid-template-rows: none;
       padding-top: 0px;
     }
   
     .ri-com{
       padding-right: 0px;
     }
   
     .action{
       margin-top: 50px;
     }
     
     
   }
   