<div class="container container-fluid">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <mat-dialog-content class="mat-typography">
      <div *ngIf="alert" class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>Creado correctamente</strong>
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group" novalidate >
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text"  class="name form-control" id="nombre"  name="nombre" required #input
          [(ngModel)]="dep.nombre"  maxlength="255">
          <h6 align="end">{{input.value?.length || 0}}/255</h6>
        </div>

      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" color="accent" cdkFocusInitial [disabled]="!f.valid" >Guardar</button>
    </mat-dialog-actions>
  </form>
</div>