<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            
            <form (ngSubmit)="onUpdate()" [formGroup]="proveedorForm" >
                <div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input type="text" class="form-control" id="codigo" name="codigo" formControlName="codigo">
                </div>
                <div class="form-group">
                    <label for="ruc">RUC</label>
                    <input type="number" class="form-control" id="ruc" name="ruc" formControlName="ruc">
                </div>
                <div class="form-group">
                    <label for="razonSocial">Razon Social</label>
                    <input type="text" class="form-control" id="razonSocial" name="razonSocial" formControlName="razonSocial" >
                </div>
                <div class="form-group">
                    <label for="fechaInicio">Fecha de Inicio</label>
                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio"  formControlName="fechaInicio" >
                </div>
                <div class="form-group">
                    <label for="rubroActividad">Rubro de Actividad</label>
                    <input type="text" class="form-control" id="rubroActividad" name="rubroActividad" formControlName="rubroActividad" >
                </div>
                <div class="form-group">
                    <label for="comentario">comentario</label>
                    <input type="text" class="form-control" id="comentario" name="comentario" formControlName="comentario" >
                </div>
                <button mat-button type="submit" color="primary" [disabled]="proveedorForm.invalid">
                    <i class="fas fa-pencil-alt"></i> editar
                  </button>
            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>