<br>
<main>
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Organizacion</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Departamentos y areas </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" routerLink="/maestro/organizacion/departamentos/list" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">
          <i class="far fa-list-alt"></i> Ver Departamentos
        </button>
        <button type="button"  routerLink="/maestro/organizacion/areas/list" class="btn btn-outline-light btn-lg px-4">
          <i class="far fa-list-alt"></i>Ver Areas
        </button>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider mb-0"></div>
</main>
<router-outlet></router-outlet>
<br>

