

<mat-card>
  <div class="bg-light rounded-3  px-2 py-2 text-center">
    <div class="py-2">
      <h1 class="display-5 fw-bold ">Organización</h1>
      <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button routerLink="/maestro/organizacion/departamentos/list"  class="btn btn-outline-dark " type="button">   <i class="far fa-list-alt"></i>Departamentos</button>
          <button type="button"  routerLink="/maestro/organizacion/areas/list" class="btn btn-outline-secondary btn-lg px-4">
            <i class="far fa-list-alt"></i>Areas
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<router-outlet></router-outlet>
<br>

